a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

a:hover {
  text-decoration: underline;
}

li {
  padding: 10px 0px 10px 0px;
}

.section {
  background-color: rgb(246, 246, 239);
}

.news-date {
  color:#828282;
}